﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" href="apple-touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-iphone-retina-display.png" />
	<title>Scores</title>
	<meta name="viewport" content="width=default-width, initial-scale=1" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.css" />
	@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
	<script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.js" type="text/javascript"></script>
</head>
<body>
	<div id="pageDiv" data-role="page">
		<div data-role="header">
			<h1>College Scores</h1>
		</div>
		<div id="scoresDiv" data-role="content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
