﻿@model scores.Models.ScoresViewModel

@{
    ViewBag.Title = "Scores";
}

<ul data-role='listview' data-inset='true' data-filter='true'>
@foreach (var game in Model.Scores.Games)
{
    <li id="@game.GameId" data-icon="false">
        <a href="@game.Url">
            <div style='width:100%;'>
                <div style='float:left;'>@game.AwayTeam.Name</div>
                <div style='float:right;'>@game.AwayTeam.Score</div>
                <div style='clear:both;float:left;'>@game.HomeTeam.Name</div>
                <div style='float:right;'>@game.HomeTeam.Score</div>
                <div style='clear:both;width:100%;'><center>@game.Status</center></div>
            </div>
        </a>
    </li>
}
</ul>